<div class="show-question">

  <h2 class="questions_title"><%= @question.title %></h2>

  <br>

  <article class="question-answer">

    <div class="vote-buttons">
      <div>
        <form method="post" action="/questions/<%= @question.id %>/upvote" class="upvote-inline">
          <button class="v-button" type="submit" id="vote-up" name="upvote" value="" class="upvote-button">&#8679;
        </form>

        <form method="post" action="/questions/<%= @question.id %>/downvote" class="downvote-inline">
          <button class="v-button" type="submit" id="vote-down" name="downvote" value="" class="downvote-button">&#8681;
        </form>
      </div>
      <span id="votes-counter"><%= @question.votes.count %> Votes</span>
    </div>


    <div class="question-answer-text">
      <%= @question.question %>
    </div>
  </article>

  <div class="comments">

    <div class="comment-list" id="question-comments">
      <% @comments.each do |comment| %>
        <%= erb :'partial/_comment', layout: false, locals: {comment: comment}%>
      <% end %>
    </div>

    <% if current_user %>
     <form id="comments-for-questions" method="post" action="/questions/<%= @question.id %>/comment">
       <label for="comment">Add a comment</label>
       <input class="comment" type="text" name="comment">
       <input type="submit" value="post comment">
     </form>
    <% end %>
  </div>

  <br><br>

  <div class="answer-container">

    <h2 class="questions_title">Answers</h2>

    <div class="answer-comments">
        <% @answers.each do |answer| %>
        <%= erb :'_answer', layout: false, locals: {answer: answer} %>
        <% end %>
    </div>

  </div>


  <br>

  <form id="answer-form" method="post" action="/questions/<%= @question.id %>/answer">
    <p>We need your help! Kernel Panic depends on everyone sharing their knowledge, and that begins with you! If you're able to answer this question, please, grace us!</p>
    <br><br>
    <textarea name="answer" id="answer-input" class="answer-input" placeholder="Answer" rows="10" cols="70"></textarea>
    <br><br>
    <input type="submit" value="post answer">
    <br><br>
  </form>

  <article class="edit-question-link">
    <a href="/questions/<%= @question.id %>/edit">Edit this question</a>
  <article>
