<%= erb :'/partial/_errors' %>

<h2>Users</h2>

<div class="users-container">

    <% @users = User.all %>
      <% @users.each do |user| %>
      <div class="individual-users"
      <span class="profile-picture"><svg id="profile-picture" width="80" height="80" data-jdenticon-hash="<%= email_hash(user) %>"></svg></span>
        <span class="username"><a href="/users/<%= user.id %>"><%= user.username %></a></span>
        <span class="questions-answered">Questions answered: <%= user.answers.count %></span>
        <span class="member-since">Member since: <%= pretty_time(user.created_at)  %></span>
      </div>
      <% end %>

</div>
