<div class="profile-container">
  <svg id="profile-picture" width="160" height="160" data-jdenticon-hash="<%= @hash %>"></svg>
<ul class="user-info">
  <li><%= @user.username %></li>
  <li>Title: <%= @user.title %></li>
  <li>Location: <%= @user.location %></li>
  <li><%= @user.votes.count %></li>
  <% if current_user == @user %>
    <li><a href="/users/<%= @user.id %>/edit">click here to edit</a></li>
  <% end %>
</ul>
<ul class="about-me">
  <li >About me:</li>
  <li><p><%= @user.about_me %></p></li>
</ul>
</div>
