<div class="container">

  <h2 class="questions_title">Unanswered Questions</h2>
    <% @questions.each do |question|%>
    <% if question.votes.count == 0 %>
      <article class="article">
        <div class="count">
          <span class="vote"> <%= question.votes.count %> <br> votes </span>
          <span class="answer"> <%= question.answers.count %> <br> answers </span>
        </div>
        <div class="question">
          <h3 class="question_title"><a href="/questions/<%= question.id %>"><%= "#{question.title}" %></a></h3>
          <span><%= question.question[0, 200] %>...</span>
          <span class="time"> asked <%= pretty_time(question.created_at) %> </span>
          <span class="user"> <%= User.find(question.user_id).username %> </span>
        </div>
       </article>
       <% end %>
    <% end %>

</div>
